<%- include ('./head') %>
   <div class="header d-flex p-2 justify-content-between align-items-center">
    <h4 class="logo text-primary">ADMIN</h4>
    <a class="btn btn-primary" href="/admin/logout">Logout</a>

   </div>
    <div class="container">
        <div style="padding: 10px;">

            <div class="form-container">

                <form class="form" method="post" action="/admin/post">
                    <h5 class="mb-4">Add post</h5>
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-1 col-form-label">Title:</label>
                        <div class="col-sm-11">
                            <input type="text" name="title" class="form-control" id="title" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="exampleFormControlTextarea1" class="col-sm-1 col-form-label">Desc:</label>
                        <div class="col-sm-11">
                            <textarea name="desc" class="form-control" id="exampleFormControlTextarea1"
                                required></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-1 col-form-label">Img Id:</label>
                        <div class="col-sm-11">
                            <input type="text" name="img" class="form-control" id="title" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add post</button>


                </form>
            </div>
            <h5 class="text-center">List Posts</h5>
            <div class="table-responsive">
                <table class="table  ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach((p,i )=>{ %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= p.title %>
                                </td>
                                <td>
                                    <%=p.desc %>
                                </td>
                                <td><img style="width: 100px; height: 100px;" src='<%= p.img %>'></td>
                                <td>
                                    <form method="POST" action="/admin/post/<%= p._id %>?_method=DELETE">
                                        <button type="submit" class=" btn btn-danger"> Delete</button>
                                    </form>
                                </td>
                            </tr>



                            <% }) %>

                    </tbody>

                </table>

            </div>



        </div>
    </div>









    <%- include('./footer') %>